.headerText {
  padding-top: 2em;
  line-height: 0px;
  font-size: 24px;
  font-weight: 500;
  color: rgba(127, 35, 213, 0.995);
  text-align: center;
}

.warningText {
  color: #fab005;
}

.messageText {
  line-height: 0px;
  font-size: 24px;
  font-weight: 500;
  color: rgb(71, 19, 120);
}
